
/* Universal styles */
body{
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}
.navbar{
    box-shadow: 0px 2px 19px 7px;
}
/* Jumbotron */
.jumbotron{
    background: none;
    background-image: url("../images/david-hofmann--Ae2HFODn2Q-unsplash.jpg");
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
}

.jumbotron h1{
    color: rgb(8, 59, 68);
    font-size: 3.5rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    height: inherit;
    background: inherit; 
	-webkit-background-clip: text;
					background-clip: text;
    color: transparent;
    text-align: center; 
    filter: invert(1); 
}

.jumbotron span{
    font-size: 2rem;
}
/* Projects */
.projects{
   background-color: rgb(243, 238, 232);
   padding-bottom: 4rem;

}
.projects h3{
    padding: 2rem 0 0 4rem;
    font-size: 2.5rem;
}
.projects h5{
    margin-top: 0;
    font-weight: bold;
}
.projects p{
    margin: 0 2rem 2rem 1.5rem;
}
.image-container{ 
    width: 20rem;
    height: 12rem;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    opacity: .7;
    transition-property: opacity, transform;
    transition-duration: 0.5s, 0.5s;
    overflow: hidden;
    margin-top: 2rem;
    border: 2px solid grey;
    
}
.image-container img:hover{
    opacity: 1;
}
h3{
    color: rgb(15, 96, 110);
}

/* Contact */
.contact-container{
    background-color: rgb(243, 238, 232);
    border-top: 1px solid grey;
}
#contact button{
    width: 20rem;
    background-color: rgb(30, 137, 156);
    margin: 3rem auto 3rem auto;
}